@import "../../Variable-prop2.scss";

#fbSection {
  background-color: $color-secondary;
  color: $color-cinq;
  padding: 15px 0;
  i {
    color: #1877f2;
    font-size: 3rem;
  }
  i,
  h2,
  h4 {
    padding: 10px 0;
  }
}
