@import "../../../Variable-prop2.scss";

li.vendeur-card {
  display: flex;
  list-style-type: none;
  min-width: 50%;
  margin: 5px 0px;
  justify-content: left;
  * {
    font-size: 18px;
    margin: 0;
  }
}
