header {
  display: flex;
  justify-content: center;
  width: 100%;
}
.fixed-bg {
  background-size: cover;
  background-attachment: fixed;
  background-position-x: center;
}
.bg1 {
  height: 100vh;
  background-image: url(./Assests/3_verres.jpg);
}
.bg2 {
  height: 200px;
  background-image: url(./Assests/3_verres.jpg);
}
.bg3 {
  height: 200px;
  background-image: url(./Assests/cereales-4verres.jpg);
}

section > * {
  margin: 0;
  font-family: "Tailwinds";
  img {
    object-fit: contain;
    width: 100%;
    height: 100%;
  }
  p {
    text-align: justify;
  }
}

@supports (-webkit-touch-callout: none) {
  //specific to IOS to remove fixed BGround as it is not supported on ios devices
  .bg1 {
    background-attachment: unset;
  }
  .bg2,
  .bg3 {
    display: none;
  }
}
